name: Leaning Ci/CD

on:
  pull_request:
    branches: [ prod ]

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/node@v3
        with:
          node-version: 16
      
      - name: Install Dependencies
        uses: npm install

      - name: Run App
        uses: npm index
