name: Leaning Ci/CD

on:
  pull_request:
    branches: [ prod ]

  push:
    branches: [ stage ]

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Install Dependencies
        run: npm install

      - name: Run App
        run: npm start

      - name: Run Timer
        run: npm test
